[run]
source =
    Departments
    Ensembles
parallel = True
concurrency = multiprocessing
data_file = .coverage
omit =
    */migrations/*
    */venv1/*
    */__pycache__/*
    manage.py
    */settings.py
    */asgi.py
    */wsgi.py
    */tests.py
    */test_*.py
    */coverage_ui_tests.py
    */middleware.py
    */middlewares/*.py
    */storages.py
    */storage/*.py

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise NotImplementedError
