{% load static %}
<!-- Navbar -->
<nav class="navbar navbar-main navbar-expand-lg px-4 mx-4 shadow-sm border-radius-xl bg-white" id="navbarBlur">
  <div class="container-fluid py-2">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0">
        <li class="breadcrumb-item text-sm">
          <a class="text-muted" href="javascript:;">Pages</a>
        </li>
        <li class="breadcrumb-item text-sm text-dark active ms-2" aria-current="page">
          {% if request.path == '/' %} Dashboard {% else %} {{ request.path|title }} {% endif %}
        </li>
      </ol>
    </nav>

    <div class="collapse navbar-collapse justify-content-end" id="navbar">
      <ul class="navbar-nav">

        <!-- Logout Button -->
        <li class="nav-item">
          <a href="{% url 'logout' %}" class="btn btn-outline-danger btn-sm">
            Logout
          </a>
        </li>

        <!-- Sidebar Toggle Button (Mobile) -->
        <li class="nav-item d-xl-none ps-3 d-flex align-items-center">
          <a href="javascript:;" class="nav-link text-body p-0" id="iconNavbarSidenav">
            <div class="sidenav-toggler-inner">
              <span class="sidenav-toggler-line"></span>
              <span class="sidenav-toggler-line"></span>
              <span class="sidenav-toggler-line"></span>
            </div>
          </a>
        </li>

      </ul>
    </div>
  </div>
</nav>
<!-- End Navbar -->
