{% load i18n static %}

<!-- Desktop Sidebar -->
<aside class="d-none d-lg-block sidebar bg-light vh-100 border-end p-3">
    <div class="d-flex align-items-center mb-3">
        <img src="{% static 'img/logos/Logo.png' %}" class="img-fluid" style="height: 40px;" alt="main_logo">
        <span class="ms-2 fw-bold text-dark">Folkloro valdymas</span>
    </div>
    <hr>
    <ul class="nav flex-column">
        <li class="nav-item">
            <a href="/main/"
               class="nav-link d-flex align-items-center mb-1 text-dark {% if request.path == '/main/' %} bg-secondary-subtle rounded-pill{% endif %}">
                <span class="material-symbols-outlined me-2 text-dark">dashboard</span>
                {% trans 'Pagrindinis' %}
            </a>
        </li>
        <li class="nav-item">
            <a href="/kuriniai/"
               class="nav-link d-flex align-items-center mb-1 text-dark {% if request.path == '/kuriniai/' %}bg-secondary-subtle rounded-pill{% endif %}">
                <span class="material-symbols-outlined me-2 text-dark">music_note</span>
                {% trans 'Kūriniai' %}
            </a>
        </li>
        <li class="nav-item">
            <a href="/repeticijos/"
               class="nav-link d-flex align-items-center mb-1 text-dark {% if request.path == '/repeticijos/' %} bg-secondary-subtle rounded-pill{% endif %}">
                <span class="material-symbols-outlined me-2 text-dark">schedule</span>
                {% trans 'Repeticijos' %}
            </a>
        </li>

        <li class="nav-item">
            <a href="/programos/"
               class="nav-link d-flex align-items-center mb-1 text-dark {% if request.path == '/programos/' %}bg-secondary-subtle rounded-pill{% endif %}">
                <span class="material-symbols-outlined me-2 text-dark">format_list_bulleted</span>
                {% trans 'Programos' %}
            </a>
        </li>
        <li class="nav-item">
            <a href="/renginiai/"
               class="nav-link d-flex align-items-center mb-1 text-dark {% if request.path == '/renginiai/' %}bg-secondary-subtle rounded-pill{% endif %}">
                <span class="material-symbols-outlined me-2 text-dark">today</span>
                {% trans 'Renginiai' %}
            </a>
        </li>
        <li class="nav-item">
            <a href="/instrumentai/"
               class="nav-link d-flex align-items-center mb-1 text-dark {% if request.path == '/instrumentai/' %}bg-secondary-subtle rounded-pill{% endif %}">
                <span class="material-symbols-outlined me-2 text-dark">piano</span>
                {% trans 'Instrumentai' %}
            </a>
        </li>
        <li class="nav-item">
            <a href="/padaliniai/"
               class="nav-link d-flex align-items-center mb-1 text-dark {% if request.path == '/padaliniai/' %}bg-secondary-subtle rounded-pill{% endif %}">
                <span class="material-symbols-outlined me-2 text-dark">domain</span>
                {% trans 'Padaliniai' %}
            </a>
        </li>
        <li class="nav-item">
            <a href="/nariai/"
               class="nav-link d-flex align-items-center mb-1 text-dark {% if request.path == '/nariai/' %}bg-secondary-subtle rounded-pill{% endif %}">
                <span class="material-symbols-outlined me-2 text-dark">group</span>
                {% trans 'Nariai' %}
            </a>
        </li>
        <li class="nav-item">
            <a href="/ansambliai/"
               class="nav-link d-flex align-items-center mb-1 text-dark {% if request.path == '/ansambliai/' %}bg-secondary-subtle rounded-pill{% endif %}">
                <span class="material-symbols-outlined me-2 text-dark">groups</span>
                {% trans 'Ansambliai' %}
            </a>
        </li>
    </ul>
</aside>

<div class="offcanvas offcanvas-start d-lg-none bg-light" tabindex="-1" id="mobileSidebar">
    <div class="offcanvas-header">
        <div class="d-flex align-items-center">
            <img src="{% static 'img/logos/Logo.png' %}" class="img-fluid me-2" style="height: 40px;" alt="main_logo">
            <h5 class="offcanvas-title text-dark">Folkloro valdymas</h5>
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
    </div>
    <div class="offcanvas-body">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a href="/" class="nav-link text-dark {% if request.path == '/' %}bg-light rounded-pill{% endif %}">
                    <span class="material-symbols-outlined me-2 text-dark">dashboard</span>
                    {% trans 'Pagrindinis' %}
                </a>
            </li>
            <li class="nav-item">
                <a href="/kuriniai/"
                   class="nav-link text-dark {% if request.path == '/kuriniai/' %}bg-light rounded-pill{% endif %}">
                    <span class="material-symbols-outlined me-2 text-dark">music_note</span>
                    {% trans 'Kūriniai' %}
                </a>
            </li>
            <li class="nav-item">
                <a href="/programos/"
                   class="nav-link text-dark {% if request.path == '/programos/' %}bg-light rounded-pill{% endif %}">
                    <span class="material-symbols-outlined me-2 text-dark">format_list_bulleted</span>
                    {% trans 'Programos' %}
                </a>
            </li>
            <li class="nav-item">
                <a href="/renginiai/"
                   class="nav-link text-dark {% if request.path == '/renginiai/' %}bg-light rounded-pill{% endif %}">
                    <span class="material-symbols-outlined me-2 text-dark">today</span>
                    {% trans 'Renginiai' %}
                </a>
            </li>
            <li class="nav-item">
                <a href="/instrumentai/"
                   class="nav-link text-dark {% if request.path == '/instrumentai/' %}bg-light rounded-pill{% endif %}">
                    <span class="material-symbols-outlined me-2 text-dark">piano</span>
                    {% trans 'Instrumentai' %}
                </a>
            </li>
            <li class="nav-item">
                <a href="/padaliniai/"
                   class="nav-link text-dark {% if request.path == '/padaliniai/' %}bg-light rounded-pill{% endif %}">
                    <span class="material-symbols-outlined me-2 text-dark">domain</span>
                    {% trans 'Padaliniai' %}
                </a>
            </li>
            <li class="nav-item">
                <a href="/nariai/"
                   class="nav-link text-dark {% if request.path == '/nariai/' %}bg-light rounded-pill{% endif %}">
                    <span class="material-symbols-outlined me-2 text-dark">group</span>
                    {% trans 'Nariai' %}
                </a>
            </li>
            <li class="nav-item">
                <a href="/ansambliai/"
                   class="nav-link text-dark {% if request.path == '/ansambliai/' %}bg-light rounded-pill{% endif %}">
                    <span class="material-symbols-outlined me-2 text-dark">groups</span>
                    {% trans 'Ansambliai' %}
                </a>
            </li>
        </ul>
    </div>
</div>

