{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>Instrumentai</title>
</head>
<body>
    <h1>Instrumentai</h1>
    <form id="instrumentaiForm" onsubmit="event.preventDefault(); createInstrumentas();">
        <input type="text" name="pavadinimas" placeholder="Name" required>
        <button type="submit" class="btn">Create</button>
    </form>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for instrumentas in instrumentai %}
            <tr>
                <td>{{ instrumentas.id }}</td>
                <td data-label="Name" contenteditable="true" class="pavadinimas">{{ instrumentas.name }}</td>
                <td data-label="Actions">
                    <button class="btn" onclick="updateInstrumentas({{ padalinys.id }})">Update</button>
                    <button class="btn btn-danger" onclick="deleteInstrumentas({{ padalinys.id }})">Delete</button>
                </td>
            </tr>

            {% empty %}
            <tr>
                <td colspan="2">No Instrumentai available.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
