{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
    <style>

    </style>
</head>
<body>
    <nav>
        <div class="nav-logo">
            <img src="{% static 'Pictures/logo.png' %}" alt="Logo">
            <div class="nav-title">Folkloro ansamblių valdymo sistema</div>
        </div>
        <div class="nav-separator"></div>
        <ul class="nav-links">
            <li><a href="/renginiai">Renginiai</a></li>
            <li><a href="/kuriniai">Kūriniai</a></li>
            <li><a href="/programos">Programos</a></li>
            <li><a href="/kalendorius">Kalendorius</a></li>
            <li><a href="/instrumentai">Instrumentai</a></li>
            <li><a href="/padaliniai">Padalinių valdymas</a></li>
            <li><a href="/nariai">Narių valdymas</a></li>
            <li><a href="/ansambliai">Ansamblių valdymas</a></li>


            <li class="nav-spacer"></li>
            <div class="nav-separator"></div>
            <li><a href="/paskyra">Mano Paskyra</a></li>
            <li><a href="{% url 'logout' %}" class="btn btn-logout">Logout</a></li>
        </ul>
    </nav>

    <header>
        <div class="header-background">
            <h1>Sveiki, {{ user.username }}!</h1>
            <p>Jūsų rolė: <strong>{{ user_role }}</strong></p>
        </div>
    </header>

    <main>
        <h2>Kažkas gražaus</h2>
    </main>

    <footer>
        <p>&copy; 2025 Folkloro Ansamblių Sistema</p>
    </footer>
</body>
</html>
