{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>Welcome</title>
    <style>
        body{
            display: flex;
        }

    </style>
</head>
<body>
    <div class="welcome-container">
        <h1>Sveiki atvykę į folkloro ansamblių valdymo sistemą!</h1>
        <p>Prašome prisijungti</p>
        <a href="{% url 'login' %}">Prisijungti</a>
        <a href="{% url 'renginiai' %}">Renginiai</a>
    </div>
</body>
</html>
